/* General Reset */
body,
h1,
h2,
div,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Monoton', cursive;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Styling */
header {
    text-align: center;
    margin-bottom: 20px;
}

#main-header {
    font-size: 40px;
    color: #ff00ff;
    /* Neon pink */
    text-shadow: 3px 3px 0 #00ffff, 6px 6px 0 #0000ff;
    /* Neon 3D effect */
}

 
/* TV Container */
#tv-container {
    position: relative;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TV Frame Styling */
#tv-frame {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* TV Screen Styling */
#tv-screen {
    position: absolute;
    top: 17.5%;
    right:23.7%;
    width: 53.5%;
    height: 48.5%;
    z-index: 2;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}
/* Controls Styling */
#controls {
    position: absolute;
    top: 15%;
    right: -10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
    width: 90px;
    height: auto;
}

#controls img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

#controls img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* Background Video */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}